{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Preloader -->
<div id="preloader">
    <div class="loading">
        <div class="circle"></div>
        <div class="text-loading">
            <span data-text-preloader="B" class="letters">Y</span>
            <span data-text-preloader="L" class="letters">U</span>
            <span data-text-preloader="O" class="letters">S</span>
            <span data-text-preloader="G" class="letters">U</span>
            <span data-text-preloader="S" class="letters">F</span>
        </div>
    </div>	
</div>

<!-- Blog Section -->
<section id="blog-section" class="blog section" data-simplebar>
    <div class="container">
        <div class="header-page mt-70">
            <i class="fas fa-receipt icon-page"></i>
            <a href="{% url 'index' %}">
                <i class="far fa-times-circle close-page" data-tooltip="close page" data-position="left"></i>
            </a>
            <h2>Blog</h2>
        </div>
        
        <!-- Blog Row Start -->
        <div class="row mt-100 mb-50 mob-mt">
        {% for blog in blogs %}
        <!-- Blog Item -->
        <div class="col-lg-4 col-sm-6">
            <div class="blog-item">
                <div class="thumbnail">
                    <span class="date">{{blog.created_on}}</span>
                    <a href="{% url 'detail' blog.slug %}"><img alt="" src="{{blog.thumb.url}}"></a>
                </div>
                <div class="meta">
                    <span class="aut">Posted By <b>Yusuf Refay</b></span>
                    <span class="cat"><i class="fas fa-hashtag"></i>{{blog.Category}}</span>
                </div>
                <h4><a href="{% url 'detail' blog.slug %}">{{blog.title}}</a></h4>
                <p>{{blog.content|slice:":255" }}</p>
                <div class="blog-btn">
                    <a href="{% url 'detail' blog.slug %}" class="btn-st">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
            
        </div>
        <!--Blog Row End-->
    </div>
</section>
{% endblock content %}        