{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Preloader -->
<div id="preloader">
    <div class="loading">
        <div class="circle"></div>
        <div class="text-loading">
            <span data-text-preloader="R" class="letters">Y</span>
            <span data-text-preloader="E" class="letters">U</span>
            <span data-text-preloader="F" class="letters">S</span>
            <span data-text-preloader="A" class="letters">U</span>
            <span data-text-preloader="Y" class="letters">F</span>
        </div>
    </div>
</div>
<!-- About Section -->
<section id="about-section" class="about section" data-simplebar>
    <div class="container">
        <div class="header-page mt-70">
            <i class="fas fa-user-tie icon-page"></i>
            <a href="{% url 'index' %}">
                <i class="far fa-times-circle close-page" data-tooltip="close page" data-position="left"></i>
            </a>
            <h2>About Me</h2>
        </div>

        <!-- Personal Info Start -->
        <div class="row mt-100 mob-mt">

            <!-- Information Block -->
            <div class="col-lg-8 col-sm-12">
                <div class="info box">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4">
                            <div class="photo pt-10">
                                <img alt="" src="{% static 'img/user-photo.jpg' %}">
                            </div>
                        </div>
                        <div class="col-lg-8 col-sm-8">
                            <h4>Yusuf Refay</h4>
                            <div class="loc">
                                <i class="fas fa-map-marked-alt"></i> Cairo, Egypt
                            </div>
                            <p>Hi I'm Yusuf, 23 years old self-taught web developer, specializing in User Interface
                                Design and Development. I build clean, appealing, and functional interfaces which comply
                                with the latest web standards. Through my 4 years of experience as a professional
                                web/graphic designer, I have acquired the skills and knowledge necessary to make your
                                project a success!</p>
                        </div>
                    </div>
                    <div class="btn-about">
                        <a href="{% static 'Yusuf Refay - May 2020.pdf' %}" class="btn-st" download>Download CV</a>
                    </div>
                </div>
            </div>

            <!-- Video Block -->

            <div class="col-lg-4 col-sm-12">
                <div class="box">
                    <h4 class="text-center">Video Presentation</h4>
                    <div class="video">
                        <a class="video-play video-link" href="https://www.youtube.com/watch?v=QBEnXQqbKUI"></a>
                        <div class="video-bg">
                            <img alt="#" src="{% static 'img/video-bg.jpg' %}">
                        </div>
                    </div>
                </div>
            </div> 

        </div>
        <!-- Personal Info End -->

        <!-- Service Row Start -->
        <div class="row mt-100">

            <!-- Header Block -->
            <div class="col-md-12">
                <div class="header-box mb-50">
                    <h3>Services</h3>
                </div>
            </div>

            <!-- Service Item -->
            <div class="col-lg-6 col-sm-6">
                <div class="service box mb-40">
                    <i class="fas fa-desktop"></i>
                    <h4>Front-end Development</h4>
                    <p>I value simple content structure, clean design patterns, and thoughtful interactions.
                    I like to code things from scratch, and enjoy bringing ideas to life in the browser. 
                    </p>
                </div>
            </div>

            <!-- Service Item -->
            <div class="col-lg-6 col-sm-6">
                <div class="service box mb-40">
                    <i class="fas fa-cogs"></i>
                    <h4>Web Development</h4>
                    <p>The web development process involves taking the graphical elements defined in the design process and coding them into a custom Django theme.
                    </p>
                </div>
            </div>

            <!-- Service Item -->
            <div class="col-lg-6 col-sm-6">
                <div class="service box mb-40">
                    <i class="fab fa-python"></i>
                    <h4>Django CMS</h4>
                    <p>Django CMS is a user-friendly administrative area allowing you to easily edit your website's content.
                    </p>
                </div>
            </div>
            <!-- Service Item -->
            <div class="col-lg-6 col-sm-6">
                <div class="service box mb-40">
                    <i class="fas fa-mobile-alt"></i>
                    <h4>Responsive Designs</h4>
                    <p>Having a responsive layout means that your website fluidly resizes for optimal viewing regardless of the screen size or device (e.g. iPhone, iPad).
                    </p>
                </div>
            </div>
            <!-- Service Item -->
            <div class="col-lg-6 col-sm-6">
                <div class="service box mb-40">
                    <i class="fas fa-rocket"></i>
                    <h4>Hosting your local Website</h4>
                    <p>I can host your current local design or template on server that to be published on the internet!
                    </p>
                </div>
            </div>
            <!-- Service Item -->
            <div class="col-lg-6 col-sm-6">
                <div class="service box mb-40">
                    <i class="fas fa-medkit"></i>
                    <h4>Quick Support</h4>
                    <p>I offer quick support services for your running website.
                    </p>
                </div>
            </div>
        </div>
        <!-- Service Row End -->

        <!-- Testimonial Row Start -->
        {% comment %} <div class="row testimonial mt-60">

            <!-- Header Block -->
            <div class="col-md-12">
                <div class="header-box mb-50">
                    <h3>Testimonials</h3>
                </div>
            </div>

            <div class="owl-carousel owl-theme">

                <!-- Testimonail Item -->
                <div class="testimonial-item">
                    <div class="media">
                        <img src="{% static 'img/testimonials/testimonial-1.jpg' %}" alt="">
                        <div class="content">
                            <h4>John Doe</h4>
                            <p>Web Development</p>
                        </div>
                    </div>
                    <div class="comment pt-30">
                        <p>
                            Curabitur eleifend tempor gnceleris eget placeratvel phasellus eget
                            sem just metup consequat gestas facilisis eleifend posure tempor
                            metus sem just metup consequat gestas facilisis eleifend posures
                            temporureture.
                        </p>
                    </div>
                </div>

                <!-- Testimonail Item -->
                <div class="testimonial-item">
                    <div class="media">
                        <img src="{% static 'img/testimonials/testimonial-1.jpg' %}" alt="">
                        <div class="content">
                            <h4>Alex Doe</h4>
                            <p>UI/UX Designer</p>
                        </div>
                    </div>
                    <div class="comment pt-30">
                        <p>
                            Curabitur eleifend tempor gnceleris eget placeratvel phasellus eget
                            sem just metup consequat gestas facilisis eleifend posure tempor
                            metus sem just metup consequat gestas facilisis eleifend posures
                            temporureture.
                        </p>
                    </div>
                </div>

                <!-- Testimonail Item -->
                <div class="testimonial-item">
                    <div class="media">
                        <img src="{% static 'img/testimonials/testimonial-1.jpg' %}" alt="">
                        <div class="content">
                            <h4>David Doe</h4>
                            <p>UI/UX Designer</p>
                        </div>
                    </div>
                    <div class="comment pt-30">
                        <p>
                            Curabitur eleifend tempor gnceleris eget placeratvel phasellus eget
                            sem just metup consequat gestas facilisis eleifend posure tempor
                            metus sem just metup consequat gestas facilisis eleifend posures
                            temporureture.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial Row End --> {% endcomment %}

        <!-- Price Row Start -->
        <div class="row mt-100 mb-60">

            <!-- Header Block -->
            <div class="col-md-12">
                <div class="header-box mb-50">
                    <h3>Price</h3>
                </div>
            </div>

            <!-- Price Item -->
            <div class="col-lg-4 col-sm-12">
                <div class="price box">
                    <div class="head-price">
                        <i class="fa fa-user"></i>
                        <h4>Basic</h4>
                    </div>
                    <div class="body-price">
                        <div class="price-plan">
                            <span class="currency">$</span>
                            <span class="number">50-100</span>
                            <span class="period">project</span>
                        </div>
                        <div class="list-price">
                            <ul>
                                <li> Static & Responsive Design</li>
                                <li class="disable">Django template</li>
                                <li class="disable">6 months free support or maintinance.</li>
                                <li class="disable">SSl Certificate</li>

                            </ul>
                        </div>
                    </div>
                    <div class="footer-price">
                        <a href="{% url 'contact-me' %}" class="btn-st">Buy Now</a>
                    </div>
                </div>
            </div>

            <!-- Price Item -->
            <div class="col-lg-4 col-sm-12">
                <div class="price box">
                    <div class="head-price">
                        <i class="fa fa-briefcase"></i>
                        <h4>Standard</h4>
                    </div>
                    <div class="body-price">
                        <div class="price-plan">
                            <span class="currency">$</span>
                            <span class="number">100-200</span>
                            <span class="period">project</span>
                        </div>
                        <div class="list-price">
                            <ul>
                                <li>Responsive & Dynamic Design</li>
                                <li>Django template</li>
                                <li>6 months free support or maintinance.</li>
                                <li class="disable">SSl Certificate</li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-price">
                        <a href="{% url 'contact-me' %}" class="btn-st">Buy Now</a>
                    </div>
                </div>
            </div>

            <!-- Price Item -->
            <div class="col-lg-4 col-sm-12">
                <div class="price box">
                    <div class="head-price">
                        <i class="fa fa-globe"></i>
                        <h4>Premium</h4>
                    </div>
                    <div class="body-price">
                        <div class="price-plan">
                            <span class="currency">$</span>
                            <span class="number">200-300</span>
                            <span class="period">project</span>
                        </div>
                        <div class="list-price">
                            <ul>
                                <li>Responsive & Dynamic Design</li>
                                <li>Django support</li>
                                <li>SSl Certificate</li>
                                <li>12 months free support or maintinance.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-price">
                        <a href="{% url 'contact-me' %}" class="btn-st">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Price Row End -->
    </div>
</section>
{% endblock content %}