{% load static %}
<!doctype html>
<html>

<head>
	<!-- Google Analytics -->
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1BXGN2BZ0E"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1BXGN2BZ0E');
</script>
	<!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="utf-8">
	<!-- Title -->
	<title>Yusuf Refay | Insur-Divergent</title>
	<link rel="icon" href="{% static 'img/title-icon.png' %}" type="image/icon type">
	<!-- CSS Plugins -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/plugins/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/plugins/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/plugins/magnific-popup.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/plugins/simplebar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/plugins/owl.carousel.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/plugins/owl.theme.default.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/plugins/jquery.animatedheadline.css' %}">


	<!-- CSS Base -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
	{% block content %}

	{% endblock content %}
	<!-- Copyright -->
	<div class="copy d-flex justify-content-center">
		<p>2019 © Yusufrefay. All Right Reserved.</p>
	</div>
	</section>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/simplebar.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/jquery.animatedheadline.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>


</body>

</html>