{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Preloader -->
<div id="preloader">
    <div class="loading">
        <div class="circle"></div>
        <div class="text-loading">
            <span data-text-preloader="R" class="letters">Y</span>
            <span data-text-preloader="E" class="letters">U</span>
            <span data-text-preloader="F" class="letters">S</span>
            <span data-text-preloader="A" class="letters">U</span>
            <span data-text-preloader="Y" class="letters">F</span>
        </div>
    </div>
</div>
<!-- Resume Section -->
<section id="resume-section" class="resume section" data-simplebar>
    <div class="container">
        <div class="header-page mt-70">
            <i class="fas fa-address-book icon-page"></i>
            <a href="{% url 'index' %}">
                <i class="far fa-times-circle close-page" data-tooltip="close page" data-position="left"></i>
            </a>
            <h2>Resume</h2>
        </div>

        <!-- Experience & Education Row Start -->
        <div class="row mt-100 mob-mt">

            <!-- Experience Column Start -->
            <div class="col-lg-6 col-sm-12">

                <!-- Header Block -->
                <div class="header-box mb-50">
                    <h3>Experience</h3>
                </div>

                <div class="experience box">
                    <div class="bord-l">

                        <!-- Experience Item -->
                        <div class="item">
                            <div class="main">
                                <h4>Django Developer</h4>
                                <p><i class="far fa-calendar-alt"></i>2019 - 2021 | Docspert.com Inc</p>
                            </div>
                            <p>I worked on Flask, Django, Python, and Front-end 
Technologies. I took part in founding a startup to
gain more experience in Django and Python and to leave an impact in the company.</p>
                        </div>

                        <!-- Experience Item -->
                        <div class="item">
                            <div class="main">
                                <h4>Fornt-End Developer</h4>
                                <p><i class="far fa-calendar-alt"></i>June, 2019 - 2020 | AbuErdan.com Inc</p>
                            </div>
                            <p>I was a trainee at AbuErdan company. It provides systems that
depend on Python for farms to analyze the process & efficiency,
and controls the business through providing a dashboard for the business owners to follow up the business and the equipment.</p>
                        </div>

                        <!-- Experience Item -->
                        <div class="item">
                            <div class="main">
                                <h4>Web Development</h4>
                                <p><i class="far fa-calendar-alt"></i>2015 - 2019 | Сompany Inc</p>
                            </div>
                            <p>I started working as a Freelancer in multiple comapnies and learning
corporations, such as: Sheikhalamoud.org - Dolphico.com - Freelancer.com - Upwork.com, to start off my career as a web developer.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Experience Column End -->

            <!-- Education Column Start -->
            <div class="col-lg-6 col-sm-12">

                <!-- Header Block -->
                <div class="header-box mb-50 mob-box-mt">
                    <h3>Education</h3>
                </div>

                <div class="experience box">
                    <div class="bord-l">
                        <!-- Education Item -->
                        <div class="item">
                            <div class="main">
                                <h4>Graduation</h4>
                                <p><i class="far fa-calendar-alt"></i>2017- 2021 | Business Administration </p>
                            </div>
                            <p>I graduated from Arab Academy for Science and Technology, Faculty of
Business Administration, majoring in Marketing.</p>
                        </div>
                        <!-- Education Item -->
                        <div class="item">
                            <div class="main">
                                <h4>Full-stack Web Development Nanodegree</h4>
                                <p><i class="far fa-calendar-alt"></i><a href="{% static 'udacity-nanodegree.pdf' %}" download> 2018 - 2019 | Web Development from Udacity</a></p>
                            </div>
                            <p>I graduated successfully from NTL and Udacity, June 11th, 2019. I gained a lot of experience from this Nanodegree, and also earned a reliable certificate to add besides my portfolio.
 <a href="{% static 'udacity-nanodegree.pdf' %}" download><strong> Certificate</strong></a></p>
                        </div>

                        <!-- Education Item -->
                        <div class="item">
                            <div class="main">
                                <h4>Computer Science</h4>
                                <p><i class="far fa-calendar-alt"></i>2016 - Current | Computer Science</p>
                            </div>
                            <p>I started studying Computer Science systematically and
scientifically thorugh MIT Path, published by Scott Young, to gain true knowledge & understanding of the field, and to use this knowledge to achieve integrations between BA and CS. 
I'm also checking Harvard Computer Science courses, to get the opportunity to 
learn from professor David Malin.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Education Column End -->
        </div>
        <!-- Experience & Education Row End -->

        <!-- Skills Row Start -->
        <div class="row mt-100">

            <!-- Header Block -->
            <div class="col-md-12">
                <div class="header-box mb-50">
                    <h3>Skills</h3>
                </div>
            </div>
        </div>

        <div class="box skills">
            <div class="row">
                <div class="col-lg-6 col-sm-6">

                    <!-- Skill Item -->
                    <div class="skill-item">
                        <h4 class="progress-title">HTML5 & CSS3</h4>
                        <div class="progress">
                            <div class="progress-bar" style="width:98%">
                                <div class="progress-value">98%</div>
                            </div>
                        </div>
                    </div>

                    <!-- Skill Item -->
                    <div class="skill-item">
                        <h4 class="progress-title">JavaScript</h4>
                        <div class="progress">
                            <div class="progress-bar" style="width:85%">
                                <div class="progress-value">85%</div>
                            </div>
                        </div>
                    </div>

                    <!-- Skill Item -->
                    <div class="skill-item">
                        <h4 class="progress-title">Vue.js</h4>
                        <div class="progress">
                            <div class="progress-bar" style="width:80%">
                                <div class="progress-value">80%</div>
                            </div>
                        </div>
                    </div>
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <h4 class="progress-title">Wordpress</h4>
                        <div class="progress">
                            <div class="progress-bar" style="width:70%">
                                <div class="progress-value">70%</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-6">

                    <!-- Skill Item -->
                    <div class="skill-item">
                        <h4 class="progress-title">Responsive Design</h4>
                        <div class="progress">
                            <div class="progress-bar" style="width:90%">
                                <div class="progress-value">90%</div>
                            </div>
                        </div>
                    </div>

                    

                    <!-- Skill Item -->
                    <div class="skill-item">
                        <h4 class="progress-title">Hosting</h4>
                        <div class="progress">
                            <div class="progress-bar" style="width:88%">
                                <div class="progress-value">88%</div>
                            </div>
                        </div>
                    </div>
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <h4 class="progress-title">Django</h4>
                        <div class="progress">
                            <div class="progress-bar" style="width:85%">
                                <div class="progress-value">85%</div>
                            </div>
                        </div>
                    </div>
                    <!-- Skill Item -->
                    <div class="skill-item">
                        <h4 class="progress-title">SQLite</h4>
                        <div class="progress">
                            <div class="progress-bar" style="width:75%">
                                <div class="progress-value">75%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Skills Row End -->

        <!-- Work Process Row Start -->
        <div class="row mt-100">

            <!-- Header Block -->
            <div class="col-md-12">
                <div class="header-box mb-50">
                    <h3>My Working Process</h3>
                </div>
            </div>
        </div>

        <div class="box work-process mb-100">
            <div class="row">
                <div class="col-lg-4 col-sm-12 ltr">

                    <!-- Working Process Item-->
                    <div class="single-wp width-sm process-1">
                        <p class="wp-step">01</p>
                        <h4 class="wp-title">Discuss the Porject idea</h4>
                        <p>We start our descusion about your objectives and needs from the website.</p>
                    </div>

                    <!-- Working Process Item-->
                    <div class="single-wp width-sm process-2">
                        <p class="wp-step">02</p>
                         <h4 class="wp-title">Visualizing your Perceptions</h4>
                        <p>We try to get the best effective and easier user-experince design for your idea.</p>
                    </div>
                </div>

                <div class="col-lg-4 hidden-sm">

                    <!-- Working Process Circle-->
                    <div class="wp-circle">
                        <h4>Working Process</h4>
                        <span class="dots top-l"></span>
                        <span class="dots bottom-l"></span>
                        <span class="dots top-r"></span>
                        <span class="dots bottom-r"></span>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12 rtl">

                    <!-- Working Process Item-->
                    <div class="single-wp width-sm process-3">
                        <p class="wp-step">03</p>
                        <h4 class="wp-title">Write our plan</h4>
                        <p>in this phase I transfer what did you said to acutal milestones with time-bouneded.</p>
                    </div>

                    <!-- Working Process Item-->
                    <div class="single-wp width-sm process-4">
                        <p class="wp-step">04</p>
                        <h4 class="wp-title">Write the Contract</h4>
                        <p>we write the contract how will choose the which website package will I use, How will we contact with each other, and what is required in each step in details.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Work Process Row End -->
    </div>
</section>

{% endblock content %}